<!DOCTYPE html>
<html lang="en" >
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table border="1" bgcolor="#fff8dc">
    <tr>
        <th>ID</th>
        <th>NAME</th>
        <th>LAST.NAME</th>
        <th>AGE</th>
        <th>ROLES</th>
    </tr>
    <tr>
        <td th:text="${user.getDtoId()}"></td>
        <td th:text="${user.getDtoName()}"></td>
        <td th:text="${user.getDtoLastName()}"></td>
        <td th:text="${user.getDtoAge()}"></td>
        <td th:text="${user.getDtoRoles()}"></td>
    </tr>
</table>
<h2>
    <button>
        <a href="/admin">Exit to Main Page</a>
        <a href="/logout">Logout</a>

    </button>
</h2>
</body>
</html>